#redeploy-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#redeploy-button:hover {
    background-color: #45a049;
}

#redeploy-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

#response_area {
    color: black;
}